*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.calculator-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    flex-direction: column;
}

.calculator {
    background-color: #919FBC;

    padding: 1.25em;

    border-radius: 10px;

    border: 3px solid #492156;

    position: relative;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.num-display {
    font-family: 'Courier New', Courier, monospace;
}

/* BUTTONS  */

.buttons-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buttons-wrap button {
    /* width: 2em; */
    height: 5em;

    font-size: 1.25rem;

    margin: .25em;

    cursor: pointer;

    border: 3px solid #492156;

    border-radius: 10px;

    font-weight: bold;

    font-family: 'Outfit', sans-serif;
}

.buttons-wrap button:hover {
    background-color: rgb(215, 215, 215);
}

.buttons-wrap button:active {
    background-color: rgb(168, 168, 168);
}

.clear-delete-wrap {
    display: flex;
    width: 100%;

    margin-top: 1em;

    margin-bottom: 1em;

}

.clear-btn {
    width: 100%;

    padding: .5em 0;

    font-size: 1.75rem;

    margin: .25em;

    cursor: pointer;

    background-color: #FFB224;

    font-family: 'Outfit', sans-serif;

    text-transform: uppercase;

    font-weight: 500;

    letter-spacing: 8px;
}

.clear-btn:hover {
    background-color: #ffbd44;
}

.clear-btn:active {
    background-color: #cf8703;
}

.delete-btn {
    width: 100%;
    
    padding: .5em 0;

    font-size: 1.75rem;

    margin: .25em;

    cursor: pointer;

    font-family: 'Outfit', sans-serif;

    background-color: #FF7BAD;

    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 8px;

    color: white;
}

.delete-btn:hover {
    background-color: #ff8cb8;
}

.delete-btn:active {
    background-color: rgb(253, 97, 157);
}

/* NUM DISPLAY  */

.num-display {
  border: 3px solid #492156;

  border-radius: 10px;

  background-color: #A0EBFE;
  text-align: right;
  padding: 1em;
  margin: .25em;
  
  word-wrap: break-word;

  width: 27rem;

  margin: 0 auto;

  font-family: 'Orbitron';
}

.number {
    white-space: pre-line;
}

/* TEXTURE  */

.texture-3d {
    background-color: #919FBC;

    border: 3px solid #492156;

    width: 100%;

    height: 20px;

    position: absolute;

    bottom: -1rem;
    left: 0;

    -webkit-border-bottom-right-radius: 100px;
    -webkit-border-bottom-left-radius: 100px;
    -moz-border-radius-bottomright: 100px;
    -moz-border-radius-bottomleft: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.operator {
    background-color: lightgrey;
}

.operator:hover {
    background-color: rgba(211, 211, 211, 0.716);
}

/* EXTRA  */

.promo {
    padding-top: 3em;
    
    display: flex;
    align-items: center;
}

.promo i {
    color: #1D9BF0;
}

.promo-text {
    text-decoration: none;

    font-family: 'Outfit', sans-serif;

    color: black;

    margin-left: .5em;
}
